body {
    background-image: url('wallpaper.jpg');
    background-attachment: fixed;
    background-size: 100% 105%;
    text-align: center;
   }
.dec_label{
    position: fixed;
    left: 40%;
    width: 100px;
}
.dec_input{
    position: fixed;
    left: 47%;
   }