<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>block1</title>
    </head>
    <style>
       body {
        background-image: url(https://wallpaperaccess.com/full/6581883.gif);
        background-attachment: fixed;
        background-size: 100% 105%;
        text-align: center;
       }
    </style>
    <body>
        <form action="/show" method="get">
            
        </form>
        <a href="project.html">
            <button type="submit" >home</button>
        </a>    

    <script >

    </script>

    </body>
</html>